/* ------------------------------------------------------------------------------------------------------------- main */
.main {
    padding: 20px 0;
}
.main__container {}
.main__body {
    display: flex;
}
/* ----------------------------------------------------------------------------------------------------------- navbar */
.navbar {
    flex: 0 0 200px;
    border-radius: 15px;
    background-color: #161b22;
}
.navbar__list {
    padding: 30px 20px;
}
.navbar__item {
    margin: 0 0 15px 0;
}
.navbar__item:last-child {
    margin: 0;
}
.navbar__link {
    color: #fff;
}
.navbar__link.active {
    color: #b05f32;
    font-weight: 700;
}
.navbar__link:hover {
    color: #599650;
}
/* ---------------------------------------------------------------------------------------------------------- content */
.content {
    border-radius: 15px;
    flex: 1 1 auto;
    margin: 0 0 0 15px;
    background-color: #161b22;
}
.content__body {
    padding: 30px 20px;
}
