/* ------------------------------------------------------------------------------------------------------------- post */
.post {
    border: 1px solid #3c424b;
    border-radius: 15px;
    margin: 0 15px 15px 15px;
    padding: 20px 30px;
}
.post__profileInfo {
    margin: 0 0 15px 0;
}
/* -------------------------------------------------------------------------------- ↓ profileInfo */
.profileInfo {
    display: flex;
    align-items: center;
}
/* -------------------------------------------------------------------------------- ↑ profileInfo */
.post__profileMessage {}
/* ----------------------------------------------------------------------------- ↓ profileMessage */
.profileMessage {
    font-size: 16px;
}
/* ----------------------------------------------------------------------------- ↑ profileMessage */