/* ---------------------------------------------------------------------------------------------------------- addPost */
.addPost {
    padding: 10px 0;
}
.addPost__container {}
.addPost__body {
    display: flex;
}
.addPost__tab {
    flex: 0 0 200px;
}
.addPost__publish {
    flex: 1 1 auto;
    margin: 0 0 0 15px;
}
/* ------------------------------------------------------------------------------------- typePost */
.typePost {
    margin: 0 15px;
    padding: 10px 30px;
}
.typePost__body {}
.typePost__title {
    border-bottom: 1px solid #3c424b;
    padding: 0 0 15px 0;
    margin: 0 0 30px 0;
    font-weight: 600;
}
.typePost__area {
    margin: 0 0 15px 0;
}
.typePost__area textarea {
    min-height: 100px;
    width: 400px;
    resize: vertical;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #3c424b;
    background-color: #161b22;
    color: #fff;
}
.typePost__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    width: 15%;
    background-color: #3c424b;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}
.typePost__button:hover {
    background-color: #599650;
}