/* ----------------------------------------------------------------------------------------------------------- navbar */
.navbar {
    flex: 0 0 200px;
    border-radius: 15px;
    background-color: #161b22;
    align-self: flex-start;
}
.navbar__list {
    padding: 20px;
}
.navbar__item {
    margin: 0 0 15px 0;
}
.navbar__item:last-child {
    margin: 0;
}
.navbar__link {
    color: #fff;
}
.navbar__link.active {
    color: #599650;
    font-weight: 700;
}
.navbar__link:hover {
    color: #599650;
}