/* ------------------------------------------------------------------------------------------------- Обнуляющие стили */
* {padding: 0; margin: 0; border: 0;}
*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
nav, footer, header, aside {display: block;}
html, body {height: 100%; width: 100%; line-height: 1; font-size: 14px; -ms-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
input, button, textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}
/* ----------------------------------------------------------------------------------------------------------- Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
/* ------------------------------------------------------------------------------------------------------------- body */
body {
    font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #0d1117;
}
/* ---------------------------------------------------------------------------------------------------------- wrapper */
.wrapper {}
/* ------------------------------------------------------------------------------------------------------ __container */
[class*="__container"] {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
/* ----------------------------------------------------------------------------------------------------------- header */
.header {
    padding: 20px 0;
}
.header__container {
    display: flex;
    align-items: center;
}
.header__logo {
    flex: 0 0 100px;
    border-radius: 50%;
    overflow: hidden;
}
.header__logo img {
    max-width: 100%;
    display: block;
}
.header__name {
    font-size: 22px;
    font-weight: 700;
    margin: 0 0 0 20px;
}
/* ------------------------------------------------------------------------------------------------------------- main */
.main {}
.main__container {
    display: flex;
}
/* ----------------------------------------------------------------------------------------------------------- navbar */
.navbar {
    border-radius: 15px;
    flex: 0 0 200px;
    background-color: #161b22;
}
.navbar__list {
    padding: 30px 20px;
}
.navbar__item {
    margin: 0 0 15px 0;
}
.navbar__link {
    color: #fff;
}
.navbar__link:hover {
    color: #599650;
}
/* ---------------------------------------------------------------------------------------------------------- content */
.content {
    border-radius: 15px;
    flex: 1 1 auto;
    margin: 0 0 0 15px;
    background-color: #161b22;
}
.content__body {
    padding: 30px 20px;
}
